.section1 {
  margin-bottom: 96px;
}

.picture {
  margin-bottom: 24px;
}

.image {
  width: 100%;
  height: 271px;
}

/* .boxContainer {
  } */

.text {
  margin-bottom: 32px;
}

/* Tablet Size  */
@media (min-width: 768px) {
  .section1 {
    margin-bottom: 96px;
  }

  .picture {
    margin-bottom: 0px;
  }

  .image {
    width: 100%;
    height: 600px;
  }

  .boxContainer {
    background-color: var(--main-bg-color);

    position: absolute;
    bottom: -1px;
    left: calc(var(--tablet-hor-padding) - 1px);

    width: 66.92708%;
    min-height: 278px;
    height: fit-content;

    padding: 56px 56px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .text {
    margin-bottom: 48px;
  }
}

/* Desktop Size  */
@media (min-width: 1440px) {
  .section1 {
    margin-bottom: 150px;
  }

  .picture {
    margin-bottom: 0px;
  }

  .image {
    width: 100%;
    height: 600px;
  }

  .boxContainer {
    background-color: var(--main-bg-color);

    position: absolute;
    bottom: -1px;
    /* -1px fixes fraction of pixel that appears on percentage */
    left: calc(var(--desktop-hor-padding) - 1px);

    width: 30.90277%;
    min-height: 357px;
    height: fit-content;

    padding: 56px 55px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .text {
    margin-bottom: 53px;
  }
}
